@import "antd/dist/antd.less";

@font-face {
  font-family: "Ferrum";
  src: url("./ferrum.otf");
}

@font-face {
  font-family: "Futura";
  src: url("./futura.ttc");
}

@font-family: "Futura", sans-serif;
@font-size-base: 24px;
@font-size-small: 18px;
@font-size-large: 32px;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-menu {
  font-size: 36px !important;
  font-family: "Ferrum", sans-serif !important;
}
